<div class="page-header page-header faq-header" data-parallax="true">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>FAQ</h1>
      <br />
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <h3 class="title-uppercase">
          Can i report a bug or suggest a new feature?
        </h3>
        <p>
          I would highly appreciate it!
          <br />
          I built this platform for you and i want you to be be part of it and
          also develop it with me.<br />
          I work completely alone on it in my free time so if you find a bug
          please contact me so i can make Dreamtracker better for us. And if you
          have an idea for a new feature you can also contact me. I would love
          to hear any feedback from you.
          <br />
          You can contact me at <b>dreamchaser@dreamtrackerapp.com</b>
        </p>

        <h3 class="title-uppercase">
          How many people are behind Dreamtracker?
        </h3>
        <p>
          Its just one person. I created it and i hope many people can make use
          of it and chasing their dreams!
        </p>

        <h3 class="title-uppercase">
          Is Dreamtracker for free?
        </h3>
        <p>
          Short Answer: Yes!
          <br />
          Maybe in the future there will be a PRO upgrade with a set of features
          but the base usage of Dreamtracker will be free forever! I want that
          anybody that have an internet connection can make use of it regardless
          of their situation.
        </p>
      </div>
    </div>
  </div>
</div>
