<div class="wrapper">
  <div class="page-header">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-7"
      style="background-image: url('https://images.unsplash.com/photo-1494386346843-e12284507169?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80')"
    ></div>
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto">
          <h1 class="title">FAQ</h1>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section">
      <div class="container">
        <h3 class="title-uppercase">
          Upcoming Features
        </h3>
        <div class="row coloured-cards">
          <div class="col-md-4 col-sm-6">
            <div class="card-big-shadow">
              <div
                class="card card-just-text"
                data-background="color"
                data-color="blue"
                data-radius="none"
              >
                <div class="card-body">
                  <h6 class="card-category">Feature</h6>
                  <h4 class="card-title">
                    <a href="javascript:void(0)">Reward System</a>
                  </h4>
                  <p class="card-description">
                    A Level System where you can earn titles and/or badges for
                    your profile by completing goals and dreams.
                  </p>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card-big-shadow">
              <div
                class="card card-just-text"
                data-background="color"
                data-color="orange"
                data-radius="none"
              >
                <div class="card-body">
                  <h6 class="card-category">Feature</h6>
                  <h4 class="card-title">
                    <a href="javascript:void(0)">Use a Profile Picture</a>
                  </h4>
                  <p class="card-description">
                    In the future it will be possible to upload a user picture
                    to your profile.
                  </p>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card-big-shadow">
              <div
                class="card card-just-text"
                data-background="color"
                data-color="green"
                data-radius="none"
              >
                <div class="card-body">
                  <h6 class="card-category">Feature</h6>
                  <h4 class="card-title">
                    <a href="javascript:void(0)">Add Tags to Dreams</a>
                  </h4>
                  <p class="card-description">
                    Add tags to dreams for better search/filter options.
                  </p>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
        </div>
        <h3 class="title-uppercase">
          Can i report a bug or suggest a new feature?
        </h3>
        <p>
          I would highly appreciate it!
          <br />
          I built this platform for you and i want you to be part of it and also
          develop it with me.<br />
          I work completely alone on it in my free time so if you find a bug
          please contact me so i can make Dreamtracker better for us. And if you
          have an idea for a new feature you can also contact me. I would love
          to hear any feedback from you.
          <br />
          You can contact me at <b>dreamchaser@dreamtrackerapp.com</b>
        </p>

        <h3 class="title-uppercase">
          How many people are behind Dreamtracker?
        </h3>
        <p>
          Its just one person. I created it and i hope many people can make use
          of it and chasing their dreams!
        </p>

        <h3 class="title-uppercase">
          Is Dreamtracker for free?
        </h3>
        <p>
          Short Answer: Yes!
          <br />
          Maybe in the future there will be a PRO upgrade with a set of features
          but the base usage of Dreamtracker will be free forever! I want that
          anybody that have an internet connection can make use of it regardless
          of their current situation.
        </p>
      </div>
    </div>
  </div>
</div>
