.info-text {
  font-size: 1.5rem;
  color: red;
}

.inset {
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 4px #11d44b7e;
}

.more-margin {
  margin-top: 20px;
}
