<div class="page-header page-header-xs dreams-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2>Your Dreams List</h2>
            </div>
        </div>
    </div>
</div>

<app-dreams-list *ngFor="let dream of dreams" [dreamsList]="dream"></app-dreams-list>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2>Add your next Dream</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mr-auto ml-auto">
                    <h2>Name</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name your Dream" #dreamName>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mr-auto ml-auto">
                    <h2>Description</h2>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Tell us your Dream" rows=5 #dreamDescr></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mr-auto ml-auto">
                    <h2>Goals</h2>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-primary btn-round" (click)="addGoals()">Add Goals</button><br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mr-auto ml-auto">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-primary btn-round" (click)="saveDream(dreamName,dreamDescr)">Save your Dream</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>