<div class="page-header about-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>What is Dreamtracker?</h1>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">What is the idea behind Dreamtracker?</h2>
                    <h5 class="description">Im just like you. Well, at least i think so. I work everyday in a nine to five job. On top of that
                        i need round about 2,5 hours to get to my job and back home. Everyday. This is so much time. And within this time you dont work for 
                        yourself. You have a boss who is chasing his dreams. And when you come back home you are stressed and tired and just want to relax.
                        I have reached the point where a voice in my head said to me: No, this is not enough for me. I want more for myself!<br>
                    </h5>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h5 class="description">
                        <h2 class="title">This is the birth of Dreamtracker!</h2><br>
                        Now im chasing my dreams. After work i work hard for my goals even if its only 5 minutes. Every minute is important. I started
                        to write my dreams down and divided it into multiple goals. You need to write your dreams down to make them more real. You need
                        to see them. Make yourself a list of goals. Each goal is one step closer to make your dream come true!
                        Dreamtracker will help you with chasing your dreams.<br><br>
                        <hr class="line-break">
                        <h4 class="title title-about">Write your dreams and goals down.</h4>
                        <h4 class="title title-about">Divide your dreams in goals.</h4>
                        <h4 class="title title-about">Connect with other "Dreamchasers"!</h4>
                        <hr class="line-break">
                    </h5>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <h2 class="colored-text">Dreams are worth chasing!</h2>
        </div>
    </div>
</div>