<div class="page-header about-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>What is Dreamtracker?</h1>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">What is the idea behind Dreamtracker?</h2>
                    <h5 class="description">to fill</h5>
                    <br>
                </div>
            </div>
            <br /><br />
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Success Storys</h2>
            <p>Every month i will pick 3 new dreams of you and post them here!</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/landing_page/itsme.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Dany Tulumidis</h4>
                                    <h6 class="card-category">Owner of Dreamtracker</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                My dream was to publish my very first web application. And im very proud that its
                                Dreamtracker. It helped me to change my dreams
                                and i want to help other people to do the same. Chase and reach their dreams!
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://github.com/Dextavision" class="btn btn-link btn-just-icon btn-neutral"
                                target="_blank"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/dany-tulumidis-390a31197/"
                                class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.xing.com/profile/Dany_Tulumidis/cv"
                                class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i
                                    class="fa fa-xing"></i></a>
                            <a href="https://www.codewars.com/users/Dextavision"
                                class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i
                                    class="fa fa-bug"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img
                                    src="https://images.unsplash.com/photo-1546561892-65bf811416b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                    alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Darth Vader</h4>
                                    <h6 class="card-category">Co-Imperator</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                I wanted to become a father. My dream comes true! I am your father!
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#vader" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#vader" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#vader" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img
                                    src="https://images.unsplash.com/photo-1495539406979-bf61750d38ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                    alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">And you?</h4>
                                    <h6 class="card-category">Anything you want</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Chase your dream. Write your own story.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#you" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#you" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#you" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>