.line-break {
  border: 1px solid rgb(0, 174, 255);
}

.title-about {
  font-weight: bold;
}

.colored-text {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3vw;
}

.creators {
  margin-top: 100px;
}
