<div class="page-header">
  <div
    class="page-header-image rellax-header"
    data-rellax-speed="-7"
    style="background-image: url('https://images.unsplash.com/photo-1494249465471-5655b7878482?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
  ></div>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="motto">
        <h1 class="title">About Dreamtracker</h1>
        <br />
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <h3 class="title-uppercase">What is the idea behind Dreamtracker?</h3>
        <p>
          Im just like you. Well, at least i think so. I work everyday in a nine
          to five job. On top of that i need round about 2,5 hours to get to my
          job and back home.
          <br /><strong>Everyday.</strong> <br />
        </p>
        <p>
          This is so much time. And within this time you dont work for yourself.
          You have a boss who is chasing his dreams. And when you come back home
          you are stressed and tired and just want to relax.
        </p>
        <p>
          I have reached the point where a voice in my head said to me: No, this
          is not enough for me. I will chase my own dreams!
        </p>

        <h3 class="title-uppercase">
          This is the birth of Dreamtracker!
        </h3>
        <p>
          Now im chasing my dreams. After my day job i work hard for my goals
          even if its only 5 minutes. Every minute is important. I started to
          write my dreams down and divided it into multiple goals. You need to
          write your dreams down to make them more real. You need to see them.
          Make yourself a list of goals. Each goal is one step closer to make
          your dream come true! Dreamtracker will help you with chasing your
          dreams.
        </p>
        <h2 class="text-center creators">Creator</h2>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="card card-profile">
              <div
                class="card-cover"
                style="background-image: url('https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
              ></div>
              <div class="card-avatar border-white">
                <a href="#avatar">
                  <img src="./assets/img/myself.jpg" alt="Dany Tulumidis" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Dany Tulumidis</h4>
                <h6 class="card-category">Full Stack Web Developer</h6>

                <div class="card-footer text-center">
                  <a
                    href="https://www.linkedin.com/in/dany-tulumidis-390a31197/"
                    target="_blank"
                    class="btn btn-just-icon btn-linkedin mr-1"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a
                    href="https://dextavision.github.io/danytulumidis/"
                    target="_blank"
                    class="btn btn-just-icon btn-dribbble mr-1"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                  <a
                    href="https://twitter.com/danytulumidis"
                    target="_blank"
                    class="btn btn-just-icon btn-twitter"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
          <div class="col-md-4"></div>
        </div>

        <h3 class="more-info">Dreamtracker - Because dreams are worth it</h3>

        <div class="row coloured-cards">
          <div class="col-md-4 col-sm-6">
            <div class="card-big-shadow">
              <div
                class="card card-just-text"
                data-background="color"
                data-color="blue"
                data-radius="none"
              >
                <div class="card-body">
                  <h6 class="card-category">Dreams</h6>
                  <h4 class="card-title">
                    <a href="javascript:void(0)">Write your dreams down</a>
                  </h4>
                  <p class="card-description">
                    Write your dreams down. It will make them more real. This is
                    the very first step to achieve your dream.
                  </p>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <div class="card-big-shadow">
              <div
                class="card card-just-text"
                data-background="color"
                data-color="green"
                data-radius="none"
              >
                <div class="card-body">
                  <h6 class="card-category">Goals</h6>
                  <h4 class="card-title">
                    <a href="javascript:void(0)">Split Dreams into Goals</a>
                  </h4>
                  <p class="card-description">
                    Dreams can be big and frightening. Split your dream into
                    smaller goals. Each goal is one step closer to make your
                    dream come true!
                  </p>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <div class="card-big-shadow">
              <div
                class="card card-just-text"
                data-background="color"
                data-color="orange"
                data-radius="none"
              >
                <div class="card-body">
                  <h6 class="card-category">Connect</h6>
                  <h4 class="card-title">
                    <a href="javascript:void(0)">Connect with "Dreamchasers"</a>
                  </h4>
                  <p class="card-description">
                    Connect with people around the world. People with dreams! I
                    call them "Dreamchasers". Be one of them. Go for it!
                  </p>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-dark text-center">
  <div class="container">
    <h2 class="colored-text">Dreams are worth chasing!</h2>
  </div>
</div>
