.card-register {
    max-width: none;
    background-color: #ff8f5e9e;
}

.fb-button {
    color: #3b5998 !important;
    cursor: pointer;
}

.fb-icon {
    font-size: 80px;
    width: 70px !important;
}

.google-button {
    color: #dd4b39 !important;
    cursor: pointer;
}

.google-icon {
    font-size: 80px;
    width: 70px !important;
}

.login-title {
    font-weight: bold;
}