<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Name</h3>
                    <hr>
                    <p>{{ dreamsList.name }}</p>
                </div>
                <div class="col-md-3">
                    <h3>Description</h3>
                    <hr>
                    <p>{{ dreamsList.description }}</p>
                </div>
                <div class="col-md-3">
                    <h3>Goals</h3>
                    <hr>
                    <p *ngFor="let goal of dreamsList.goals">{{ goal.name }}</p>
                </div>
                <div class="col-md-3">
                    <!-- TODO[A] Dream needs another unique indicator than the name -->
                    <button type="button" class="btn btn-outline-danger btn-round alter-button" (click)="deleteDream(dreamsList.name)">Delete</button>
                    <br>
                    <button type="button" class="btn btn-outline-primary btn-round alter-button" (click)="editDream(dreamsList)">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>