<div class="main">
    <div class="section text-center">
        <div class="container dream-border">
            <div class="row">
                <div class="col-md-6">
                    <h3>Name</h3>
                    <hr>
                    <p>{{ dreamsList.name }}</p>
                </div>
                <div class="col-md-6">
                    <h3>Description</h3>
                    <hr>
                    <p>{{ dreamsList.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Private</h3>
                    <hr>
                    <i *ngIf="dreamsList.isPrivate; else notFinished" class="nc-icon nc-check-2"></i>
                    <ng-template #notFinished>
                        <i class="nc-icon nc-simple-remove"></i>
                    </ng-template>
                </div>
                <div class="col-md-4">
                    <h3>Upvotes</h3>
                    <hr>
                    <p>{{ dreamsList.upvote }}</p>
                </div>
                <div class="col-md-4">
                    <h3>Status</h3>
                    <hr>
                    <p [ngClass]="dreamsList.progress <= 49 ? 'status-down' : 'status-up'"> {{ dreamsList.status }} </p>
                </div>
            </div>
            <!-- Show Goals -->
            <app-goals [goals]="dreamsList.goals"></app-goals>
            <div class="row">
                <div class="col-md-12">
                    <h3>Progress</h3>
                    <hr>
                    <ngb-progressbar type="success" [value]="dreamsList.progress" [animated]="true"><i class="progress-text">{{dreamsList.progress + '%'}}</i></ngb-progressbar>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <!-- TODO[A] Dream needs another unique indicator than the name -->
                    <button type="button" class="btn btn-outline-primary btn-round alter-button" (click)="editDream(dreamsList)">Edit Dream</button>
                    <button type="button" class="btn btn-outline-primary btn-round alter-button" (click)="editGoals()">Edit Goals</button>
                    <button type="button" class="btn btn-outline-danger btn-round alter-button" (click)="deleteDream(dreamsList.name)">Delete</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>