@import "./../../shared/scss/loading-spinner";
@import "./../../shared/scss/variables";

.dream-border {
  border-radius: 50px;
  padding: 20px;
  box-shadow: inset 0 0 20px $main-color;
}

.unlike {
  background-color: grey;
  border-color: grey;
}

.button-margin {
  margin-top: 5px;
}

.clickable {
  cursor: pointer;
}
