<div class="page-header">
  <div
    class="page-header-image rellax-header"
    data-rellax-speed="-7"
    style="background-image: url('https://images.unsplash.com/photo-1558613913-4d5fdd9b7497?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
  ></div>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="motto">
        <h1 class="title">Dreams around the world!</h1>
        <h3 class="description">
          See dreams from other people all around the world
        </h3>
        <br />
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="container text-center">
  <div class="row">
    <div class="col-md-8 mr-auto ml-auto">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <div *ngFor="let dream of publicDreams" class="main">
    <div class="section text-center reduce-padding">
      <div class="container dream-border">
        <div class="row">
          <div class="col-md-6">
            <h3 class="white">Name</h3>
            <hr />
            <p class="white">{{ dream.name }}</p>
          </div>
          <div class="col-md-6">
            <h3 class="white">Description</h3>
            <hr />
            <p class="white">{{ dream.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="white">Upvotes</h3>
            <hr />
            <p class="white">{{ dream.upvote }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-danger btn-round"
              [ngClass]="{
                unlike:
                  !dreamsLiked[dream.ID] || dreamsLiked[dream.ID] === false
              }"
              (click)="onLikeDream(dream.ID)"
            >
              <i class="fa fa-heart"></i>Like
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-outline-primary btn-round more-margin"
              (click)="goToUserProfile(dream.user)"
            >
              Go to User Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
