.userDream {
  font-size: 1em;
}

.page-header-xs {
  min-height: 70vh !important;
}

.colored-text {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5vw;
}

.colored-dream {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.friendship-border {
  border-radius: 50px;
  padding: 20px;
  box-shadow: inset 0 0 20px #11b7d47e;
  margin: 0px 200px 0px 200px;
}
