<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('https://images.unsplash.com/photo-1556484687-30636164638b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>Dream with me</h1>
        <h3>We dream together!</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <!-- <div class="avatar">
          <img
            src="./assets/img/landing_page/itsme.jpg"
            alt="Circle Image"
            class="img-circle img-no-padding img-responsive"
          />
        </div> -->
        <div [ngSwitch]="friendshipStatus.status">
          <button
            *ngSwitchCase="''"
            class="btn btn-outline-primary btn-round alter-button"
            (click)="addFriend()"
          >
            Add Friend
          </button>
          <button
            *ngSwitchCase="'accepted'"
            class="btn btn-outline-primary btn-round alter-button"
            (click)="removeFriend()"
          >
            Remove Friend
          </button>
          <h4 *ngSwitchCase="'requested'" class="friendship-border">
            Friendship request open
          </h4>
        </div>
        <h1>Profile</h1>
        <div class="name">
          <h3>Name</h3>
          <h4 class="title">{{ userInfo.name }}<br /></h4>
          <div *ngIf="userInfo.jobTitle">
            <h3>Job</h3>
            <h4 class="title">{{ userInfo.jobTitle }}<br /></h4>
          </div>
          <h3>Description</h3>
          <br />
          <h4 class="title">{{ userInfo.description }}</h4>
        </div>
        <h2 class="title colored-text">Dreams</h2>
        <h3 *ngFor="let dream of userDreams" class="text-muted colored-dream">
          {{ dream.name }}
          <br />
          <h5 class="userDream">{{ dream.description }}</h5>
          <hr />
        </h3>
      </div>
    </div>
  </div>
</div>
