<div class="page-header">
  <div
    class="page-header-image rellax-header"
    data-rellax-speed="-7"
    style="background-image: url('https://images.unsplash.com/photo-1589391886645-d51941baf7fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
  ></div>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="motto">
        <h1 class="title">Terms and Conditions for Dreamtracker</h1>
        <br />
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Introduction</h2>
          <h5 class="description">
            These Website Standard Terms and Conditions written on this webpage
            shall manage your use of our website, dreamtrackerapp accessible at
            www.dreamtrackerapp.com.
          </h5>
          <h5 class="description">
            These Terms will be applied fully and affect to your use of this
            Website. By using this Website, you agreed to accept all terms and
            conditions written in here. You must not use this Website if you
            disagree with any of these Website Standard Terms and Conditions.
          </h5>

          <h5 class="description">
            Minors or people below 18 years old are not allowed to use this
            Website.
          </h5>

          <h2 class="title">Intellectual Property Rights</h2>

          <h5 class="description">
            Other than the content you own, under these Terms, Dreamtracker
            and/or its licensors own all the intellectual property rights and
            materials contained in this Website.
          </h5>

          <h5 class="description">
            You are granted limited license only for purposes of viewing the
            material contained on this Website.
          </h5>

          <h2 class="title">Restrictions</h2>

          <h5 class="description">
            You are specifically restricted from all of the following: <br />
            <br />
            <ul>
              <li>publishing any Website material in any other media;</li>
              <li>
                selling, sublicensing and/or otherwise commercializing any
                Website material;
              </li>
              <li>publicly performing and/or showing any Website material;</li>
              <li>
                using this Website in any way that is or may be damaging to this
                Website;
              </li>
              <li>
                using this Website in any way that impacts user access to this
                Website;
              </li>
              <li>
                using this Website contrary to applicable laws and regulations,
                or in any way may cause harm to the Website, or to any person or
                business entity;
              </li>
              <li>
                engaging in any data mining, data harvesting, data extracting or
                any other similar activity in relation to this Website;
              </li>
              <li>
                using this Website to engage in any advertising or marketing.
              </li>
            </ul>
          </h5>

          <h5 class="description">
            Certain areas of this Website are restricted from being access by
            you and Dreamtracker may further restrict access by you to any areas
            of this Website, at any time, in absolute discretion. Any user ID
            and password you may have for this Website are confidential and you
            must maintain confidentiality as well.
          </h5>

          <h2 class="title">Your Content</h2>

          <h5 class="description">
            In these Website Standard Terms and Conditions, "Your Content" shall
            mean any audio, video text, images or other material you choose to
            display on this Website. By displaying Your Content, you grant
            Dreamtracker a non-exclusive, worldwide irrevocable, sub licensable
            license to use, reproduce, adapt, publish, translate and distribute
            it in any and all media.
          </h5>

          <h5 class="description">
            Your Content must be your own and must not be invading any
            third-party’s rights. Dreamtracker reserves the right to remove any
            of Your Content from this Website at any time without notice.
          </h5>

          <h2 class="title">Your Privacy</h2>

          <h5 class="description">
            Please read the
            <a [routerLink]="['/compliance/privacy']">Privacy Policy</a>
          </h5>

          <h2 class="title">No warranties</h2>

          <h5 class="description">
            This Website is provided "as is," with all faults, and Dreamtracker
            express no representations or warranties, of any kind related to
            this Website or the materials contained on this Website. Also,
            nothing contained on this Website shall be interpreted as advising
            you.
          </h5>

          <h2 class="title">Limitation of liability</h2>

          <h5 class="description">
            In no event shall Dreamtracker, nor any of its officers, directors
            and employees, shall be held liable for anything arising out of or
            in any way connected with your use of this Website whether such
            liability is under contract.  Dreamtracker, including its officers,
            directors and employees shall not be held liable for any indirect,
            consequential or special liability arising out of or in any way
            related to your use of this Website.
          </h5>

          <h2 class="title">Indemnification</h2>

          <h5 class="description">
            You hereby indemnify to the fullest extent Dreamtracker from and
            against any and/or all liabilities, costs, demands, causes of
            action, damages and expenses arising in any way related to your
            breach of any of the provisions of these Terms.
          </h5>

          <h2 class="title">Severability</h2>

          <h5 class="description">
            If any provision of these Terms is found to be invalid under any
            applicable law, such provisions shall be deleted without affecting
            the remaining provisions here.
          </h5>

          <h2 class="title">Variation of Terms</h2>

          <h5 class="description">
            Dreamtracker is permitted to revise these Terms at any time as it
            sees fit, and by using this Website you are expected to review these
            Terms on a regular basis.
          </h5>

          <h2 class="title">Assignment</h2>

          <h5 class="description">
            The Dreamtracker is allowed to assign, transfer, and subcontract its
            rights and/or obligations under these Terms without any
            notification. However, you are not allowed to assign, transfer, or
            subcontract any of your rights and/or obligations under these Terms.
          </h5>

          <h2 class="title">Entire Agreement</h2>

          <h5 class="description">
            These Terms constitute the entire agreement between Dreamtracker and
            you in relation to your use of this Website, and supersede all prior
            agreements and understandings.
          </h5>

          <h2 class="title">Governing Law & Jurisdiction</h2>

          <h5 class="description">
            These Terms will be governed by and interpreted in accordance with
            the laws of the State of de, and you submit to the non-exclusive
            jurisdiction of the state and federal courts located in de for the
            resolution of any disputes.
          </h5>
          <br />
          <br />
          <br />
          <h1>Legal Notice</h1>
          <h5 class="description">
            <b>Dany Tulumidis</b> <br />
            <b>Feldstr. 40-42</b> <br />
            <b>50374 Erftstadt</b> <br />
            <b>E-Mail: dreamchaser@dreamtrackerapp.com</b>
            <br />
            <br />
            <b>Copyright © 2020 Dreamtracker - All rights reserved.</b>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
