<div class="wrapper">
  <div class="page-header">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-7"
      style="background-image: url('https://images.unsplash.com/photo-1483860714521-89abcb02604b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
    ></div>
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto">
          <h1 class="title">Inspiring Poeple</h1>
          <h3 class="description">
            Poeple can do great things
          </h3>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center title">
            <h2>Get some inspiration</h2>
            <h3 class="title-uppercase">
              <small>Great poeple do great things</small>
            </h3>
          </div>
        </div>
        <div class="article">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="card card-blog card-plain text-center">
                <div class="card-image">
                  <a href="javascript:void(0)">
                    <img
                      class="img img-raised"
                      src="./assets/img/inspiring-people/dean.jpg"
                    />
                  </a>
                </div>
                <div class="card-body">
                  <a href="javascrip: void(0);">
                    <h3 class="card-title">
                      Dean Schneider
                    </h3>
                  </a>
                  <div class="card-description">
                    <p>
                      Dean Schneider is born in switzerland and he LOVES
                      animals. Once he was a pretty successfully entrepreneur
                      and had his own financial company. He had everything that
                      was purchasable but his real passion are animals. In 2017
                      he moved to south africa and established a wildlife
                      sanctuary and rehabilitation center with the wonderful
                      name Hakuna Mipaka (stands for "no limits" in Swahili).<br />
                      Dean is a 100% positive human and always carry a smile on
                      his face wherever he goes. Also he is the perfect example
                      that money cant buy you happiness. Always chase your
                      passion and your dreams!<br /><br />
                      <b>His dream? Bring animals into poeples hearts.</b>
                      <br />
                      Here you can find more informations about him and his
                      mission: <br />
                      <a
                        href="https://www.deanschneider.com/"
                        class="btn btn-link btn-info mr-1"
                        target="_blank"
                        >Dean Schneider</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="article">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="card card-blog card-plain text-center">
                <div class="card-image">
                  <a href="javascript:void(0)">
                    <img
                      class="img img-raised"
                      src="./assets/img/inspiring-people/dwayne.jpg"
                    />
                  </a>
                </div>
                <div class="card-body">
                  <a href="javascrip: void(0);">
                    <h3 class="card-title">
                      Dwayne "The Rock" Johnson
                    </h3>
                  </a>
                  <div class="card-description">
                    <p>
                      You may know him. The Rock. His whole life is pure
                      motivation. He came from the very bottom. He once said
                      there was a time where he had 7 bucks in his pocket. Today
                      he is the highest-grossing actor. Or at least one of them.
                      His body, his mind, his whole personality is trained to
                      the fullest! Go and watch this video where he talks about
                      motivation and his story and then go and chase your
                      dreams!
                      <br />
                      <a
                        href="https://www.youtube.com/watch?v=W5tlGJwvmCQ"
                        class="btn btn-link btn-info mr-1"
                        target="_blank"
                        >Dwayne Motivation</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
