main.landing_page {
    background: url('/./../../assets/img/landing_page/background_landingPage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

h1.landing_page {
    text-align: center;
}