<app-navbar></app-navbar>
<main class="landing_page">
  <header class="header-picture">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase font-weight-bold">Dreamtracker</h1>
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2>Your dreams matter!</h2>
          </div>
        </div>
    </div>
  </header>
</main>