<div class="page-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Dreamtracker</h1>
            <h3>Start chasing your dreams now!</h3>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Do not let your dreams just be dreams!</h2>
                    <h5 class="description">Everybody have these things. One or even more goals in their life. Many
                        people call it dreams and think its unreachable.
                        Dreamtracker will help you to help yourself and reach these goals.</h5>
                    <br>
                    <a [routerLink]="['about']" class="btn btn-danger btn-round">About Dreamtracker</a>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Dreams</h4>
                            <p class="description">Write your Dreams down. This is the first step to reach them.
                            If you can dream it, you can do it. <br>
                            Go and create your first Dream on Dreamtracker!
                            </p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Goals</h4>
                            <p>Every Dream of you need little steps to take until you reach it. These steps are your
                                goals. A set of goals define your dream.</p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Motivation</h4>
                            <p>Stay motivated! Try to work on your goals every day. Even if its only for 5 minutes. You
                                can do it!</p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Community</h4>
                            <p>Connect with other people who decided to make this step. Motivate and inspire each other.
                                Nothing motivates you more than surrounding yourself with people chasing a dream!
                            </p>
                            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Success Storys</h2>
            <p>Every month i will pick 3 new completed dreams of you and post them here!</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/landing_page/itsme.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Dany Tulumidis</h4>
                                    <h6 class="card-category">Owner of Dreamtracker</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                My dream was to publish my very first web application. And im very proud that its
                                Dreamtracker. It helped me to change my dreams
                                and i want to help other people to do the same. Chase and reach their dreams!
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://github.com/Dextavision" class="btn btn-link btn-just-icon btn-neutral"
                                target="_blank"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/dany-tulumidis-390a31197/"
                                class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="https://www.xing.com/profile/Dany_Tulumidis/cv"
                                class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i
                                    class="fa fa-xing"></i></a>
                            <a href="https://www.codewars.com/users/Dextavision"
                                class="btn btn-link btn-just-icon btn-neutral" target="_blank"><i
                                    class="fa fa-bug"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img
                                    src="https://images.unsplash.com/photo-1546561892-65bf811416b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                    alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Darth Vader</h4>
                                    <h6 class="card-category">Co-Imperator</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                I wanted to become a father. My dream comes true! I am your father!
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#vader" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#vader" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#vader" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img
                                    src="https://images.unsplash.com/photo-1495539406979-bf61750d38ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                    alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">And you?</h4>
                                    <h6 class="card-category">Anything you want</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Chase your dream. Write your own story.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#you" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#you" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#you" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">The Community for our Motivation</h2>
                    <h5 class="description">Sorround yourself with other poeple. With other "Dreamchasers". That will motivate yourself
                        and at the same time you will motivate other people. Its a classic Win-Win situation! Do you ever heared of the
                        <a href="https://en.wikipedia.org/wiki/Law_of_attraction_(New_Thought)">Law of Attraction</a>
                    </h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>