// main.landing_page {
//     height: 100%;
//     width: 100%;
// }

.header-picture {
    background: url('/./../../assets/img/landing_page/background_landingPage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

h1.landing_page {
    text-align: center;
}