<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-7"
      style="background-image: url('https://images.unsplash.com/photo-1534447677768-be436bb09401?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1371&q=80')"
    ></div>
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto">
          <h1 class="title">Its your Story</h1>
          <h3 class="description">
            Tell us about you and your dreams
          </h3>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="container text-center">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading" class="profile-content section">
    <div class="container">
      <div class="row">
        <div class="profile-picture">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new img-no-padding align-middle">
              <img
                src="https://images.unsplash.com/photo-1595452767427-0905ad9b036d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                alt="..."
              />
            </div>

            <div class="name">
              <h4 class="title text-center">
                {{ userSettings.name }}<br /><small>{{
                  userSettings.jobTitle
                }}</small>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>
            {{ userSettings.description }}
          </p>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <a
            class="btn btn-outline-primary btn-round more-margin"
            [routerLink]="['settings']"
            >Settings</a
          >
        </div>
      </div>
      <br />
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'">
            <ngb-tab title="Friend Requests">
              <ng-template ngbTabContent>
                <div *ngFor="let request of friendRequests">
                  <h4 class="text-muted">
                    {{ request.userA }}
                  </h4>
                  <button
                    class="btn btn-outline-primary btn-round more-margin"
                    (click)="acceptFriend(request)"
                  >
                    Accept
                  </button>
                  <button
                    class="btn btn-outline-danger btn-round more-margin"
                    (click)="declineFriend(request)"
                  >
                    Decline
                  </button>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Friends">
              <ng-template ngbTabContent>
                <div *ngFor="let friend of friends">
                  <h4 class="text-muted">
                    {{ friend.userA }}
                  </h4>
                  <button
                    class="btn btn-outline-danger btn-round more-margin"
                    (click)="removeFriend(friend)"
                  >
                    Remove Friend
                  </button>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Dreams">
              <ng-template ngbTabContent>
                <h3 *ngFor="let dream of userDreams" class="text-muted">
                  {{ dream.name }}
                </h3>
                <br />
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
