@import "./../shared/scss/loading-spinner.scss";

.page-header-xs {
  min-height: 70vh !important;
}

.align-middle {
  display: flex;
  justify-content: center;
}

.justify-friends {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.to-button {
  padding-right: 10px;
}
