html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

@import './app/landing-page/landing-page.component.scss';
@import './app/navbar/navbar.component.scss';
