{
  "version": "2018-05-29",
  "statements":   ["UPDATE Friendship SET status = :status WHERE userB= :userB AND userA = :userA", "SELECT * FROM Friendship WHERE userB= :userB AND userA = :userA"],
  
  "variableMap": {
    ":userA": $util.toJson($ctx.args.userA),
    ":userB": $util.toJson($ctx.args.userB),
    ":status": $util.toJson($ctx.args.status)
  }
}