{
  "version": "2018-05-29",
  "statements":   ["SELECT * FROM Friendship WHERE userA= :userA AND userB= :userB", "DELETE FROM Friendship WHERE userA= :userA AND userB= :userB"],
  
  "variableMap": {
    ":userA": $util.toJson($ctx.args.userA),
    ":userB": $util.toJson($ctx.args.userB)
  }
}